@{
    ViewBag.Title = "HR Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">HR Dashboard</h2>

    <div class="list-group">
        <a href="/HR/Users" class="list-group-item list-group-item-action">View All Users</a>
        <a href="/HR/Create" class="list-group-item list-group-item-action">Add New User</a>
        <a href="/HR/LecturerList" class="list-group-item list-group-item-action">Generate Reports</a>
    </div>
</div>
